<div class="page-container">
  <h1 class="page-title">Preguntas Frecuentes</h1>
  <div class="page-content">
    <div class="faq-item">
      <h4>¿Cuántos jugadores pueden participar?</h4>
      <p>El juego está diseñado para 2 a 6 jugadores.</p>
    </div>
    <div class="faq-item">
      <h4>¿Cuál es la edad recomendada?</h4>
      <p>Recomendamos el juego para mayores de 8 años, debido a que incluye conceptos básicos de manejo de dinero y estrategia.</p>
    </div>
    <div class="faq-item">
      <h4>¿Dónde puedo comprar el juego?</h4>
      <p>Actualmente, el juego está en proceso de desarrollo y no esta disponible para la venta </p>
    </div>
  </div>
</div>